* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: 'Poppins', sans-serif;
    background-color: #403e41;

}

.logo {
    color: rgb(245, 241, 241);
    letter-spacing: 2px;
    font-size: 22px;
    text-align: left;
    display: flex;
    align-items: center;
}

.logo_img {
    padding: 10px;
}



.nav_links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 9vh;
    background-color: #403e41;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
}

.nav_links li {
    opacity: 0;
}

.burger {
    display: block;
    cursor: pointer;
}

.nav_links a {
    color: rgb(245, 241, 241);
    text-decoration: none;
    font-size: 14px;
}

.nav_links li {
    list-style: none;
}



.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(245, 241, 241);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (min-width:768px) {
    .nav_links {
        width: 70%;
        position: static;
        flex-direction: row;
        transform: translateX(0%);
        height: inherit;
    }

    .burger {
        display: none;
    }

    .nav_links li {
        opacity: 1;
    }

}

.nav_active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 2;
        transform: translateX(0px);
    }
}

footer {
    font-family: 'Noto Sans', sans-serif;
    min-height: 3vh;

    color: #403e4180;
}

footer p {
    text-align: center;
    padding: 10px;
    font-size: smaller;
}

.heading-title {
    font-family: 'Noto Sans', sans-serif;

    margin: auto;
    margin-top: 18vh;
    padding: auto;
    text-align: center;
}

.heading-title>* {
    padding: 10px;
}

form {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;

}

input,
select,
textarea {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: 'Poppins', sans-serif;

}

label {
    font-family: 'Noto Sans', sans-serif;

    padding: 14px;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin-top: 12px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 20%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-container {
    border-radius: 5px;
    background-color: rgb(198, 203, 219);
    padding: 20px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;

}

.col1,
.col3,
.col5 {
    float: left;
    width: 12.5%;
    margin-top: 12px;
}

.col2,
.col4 {
    float: left;
    width: 35%;
    margin-top: 12px;
}


.col6 {
    float: left;
    width: 82.5%;
    margin-top: 12px;
}

.col7,
.col9,
.col11 {
    float: left;
    width: 12.5%;
    margin-top: 12px;
}

.col8,
.col10,
.col12 {
    float: left;
    width: 19.2%;
    margin-top: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

textarea {
    height: 150px;
}

@media screen and (max-width: 768px) {

    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6,
    .col7,
    .col8,
    .col9,
    .col10,
    .col11,
    .col12,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


input,
select {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}